.appWrapper {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas:
  'h h'
  'm c';

  &__content{
    grid-area: c;
    background-color: cornflowerblue;
  }
}